
out/
src/CodeWars/
src/Stepik/
src/Yandex/

.idea/

!src/Netology
src/Netology/*
!src/Netology/Multithread_Functional/
src/Netology/Multithread_Functional/*
!src/Netology/Multithread_Functional/Functional
src/Netology/Multithread_Functional/Functional/*
!src/Netology/Multithread_Functional/Functional/Task2
AlgoInput.txt
dateInput.txt
MyStudy.iml
StationInput.txt
